.heading{
    margin: 0px;
    width: 100%;
    color:white;
    font-size:30px;
}
.note{
    font-size:17px;
    color: black;
} 
body{
    background-size: cover;
}
.div_speed{
float: left;
}
.dspeed{
    width: 200px;
    border-radius: 100px;
}
#speed{
font-size:20px;
margin: 20px;
}
.div_volume{
    float: right;
    }
    .dvolume{
        width: 200px;
        border-radius: 100px;
    }
    #volume{
    font-size:20px;
    margin: 20px;
    }
    .playbtn{
        margin-left:-150px;
        font-size: 15px;
        width: 8%;
    }
    .stopbtn{
        margin-left:550px;
        font-size: 15px;
        width: 8%;
    }
canvas{
    border: 7px solid  black;
border-radius: 5px;
}










